<div class="p-grid p-nogutter p-pt-2 p-pr-3 p-pl-3 p-pb-3">
    <h4 class="intestazione-componente">{{this.title}}</h4>
  </div>

  <div class="p-m-3">
    <app-table-prime-ng
      [dataSource]="this.dataSource" 
      [columnSchema]="this.columnsSchema" 
      [actions]="this.actions"
      [initSortColumn]="initSortColumn" 
      [directionSortColumn]="directionSortColumn"
      (onEvent)="this.onTableEvent($event)"
      [titleTable]="titleTable"
      [exportName]="exportName"
      [globalFilters]="this.globalFilters"
      [customSort]=true
    >
    </app-table-prime-ng>
  </div>

  <p-dialog header="Carica ricevute di pagamento: " [(visible)]="showUploadRicevuteDialog" (onHide)="closeUploadRicevuteDialog()" 
    styleClass="dialog-850" [draggable]="false" [resizable]="true" [modal]="true">
    <div class="p-grid p-m-2"> 
      <div class="p-col-12">
        <div class="p-field">
          <label class="p-text-bold">Upload ricevute di pagamento</label>
          <app-upload-file 
            [pratica]="this.pratica" 
            [mode]="uploadMode" 
            [destinazioneAllegato]="destinazioneAllegato" 
            [filtroStatoPratica]="filtroStatoPratica"
            [fileClearToggle]="showUploadRicevuteDialog"
            (idDocUploaded)="onDocUploaded($event)"
            (mandatoryDocuments)="onMandatoryDocuments($event)"
            (onDocUploaded)="onUploadedFile($event)"
          >
          </app-upload-file>
        </div>
      </div>
    </div> 
    <p-footer>
      <div class="p-d-flex p-col-12 p-jc-end">
        <button pButton label="Annulla" class="btn-custom-style"
          (click)="closeUploadRicevuteDialog()"></button>
        <button pButton label="Conferma" class="btn-custom-style"
          (click)="confermaUploadRicevute()" [disabled]="isConfirmDisabled()"></button>
      </div>  
    </p-footer>
  </p-dialog>

  <p-dialog header="Numero protocollo:" [(visible)]="showProtocolloDialog" (onHide)="closeProtocolloDialog()" styleClass="dialog-400" [draggable]="false" [resizable]="false" [modal]="true" [closable]="false">
  <div class="p-grid p-m-2"> 
      <div class="p-col-12">
          <input *ngIf="!isProtocollata" type="text" pInputText [(ngModel)]="this.numProtocollo" class="stretch" [readonly]="true">
          <input *ngIf="isProtocollata" type="text" pInputText [(ngModel)]="this.numProtocollo" class="stretch" [readonly]="true">
          <label *ngIf="isProtocollata" for="txtProtocollo" class="p-text-bold p-pt-2" style="display: block;">Protocollazione avvenuta con successo</label>
      </div>
  </div> 
  <p-footer>
      <div class="p-d-flex p-col-12 p-jc-end">
      <button *ngIf="this.numProtocollo == '--|--'" pButton label="Protocolla" class="btn-custom-style"
          (click)="confermaUploadRicevute()"></button> 
      <button pButton label="Chiudi" class="btn-custom-style" (click)="showProtocolloDialog = false"></button>
      </div>  
  </p-footer>
</p-dialog>
  