.arrow-map-class {
    position: absolute;
    right: 5px;
    top: 6px;
}

.div-indirizzo {
    position: relative;
}

.button-add-address {
    position: absolute;
    right: 12px;
    bottom: 19px;
}