.double-button {
    width: 130px;
    height: 45px;
}

::ng-deep .card-template .p-card .p-card-footer {
    padding: 0 !important;
}

::ng-deep .card-template .p-card .p-card-content {
    padding: 0 !important;
}

::ng-deep .card-template .p-card .p-card-title {
    height: 80px;
    overflow-wrap: break-word;
}
