<div class="p-grid p-nogutter footer p-mt-3">

    <div class="p-col-12 p-d-flex p-jc-center p-ai-center p-pr-3 p-pl-3 div-logo">
        <img class="logo-footer" src="../../../assets/pon_metro_logo_negativo.png" alt="pon_metro_logo">
    </div>

    <div class="p-col-12 p-pl-3 p-pr-3 p-pb-3">
        <div class="p-d-flex p-jc-between p-ai-center p-pt-3 footer-line">
            <div>
                <span class="p-text-normal footer-info">ver. {{version}}</span>
            </div>
            <div>
                <a href="http://www.comune.bari.it/informativa-estesa" title="Privacy policy" class="footer-info p-mr-2 link" target="_blank">Privacy</a>
                <a href="http://www.comune.bari.it/note-legali" title="Note legali" class="footer-info p-mr-2 link" target="_blank">Note legali</a>
                <a href="https://www.almaviva.it/it_IT" title="Credits"class="footer-info p-mr-2 link" target="_blank">Credits</a>               
            </div>
        </div>
       
    </div>

</div>
