<div class="p-grid p-nogutter p-pt-2 p-pr-3 p-pl-3 p-pb-3 relative-container">
  <h4 class="intestazione-componente">Concessioni valide</h4>

  <button pButton pRipple type="button" icon="pi pi-map-marker" pTooltip="VISUALIZZA SU MAPPA"
    class="p-button-rounded p-button-text btn-custom-style marker-map-class" (click)="openMapDialog()"></button>
</div>

<div class="p-m-3">
  <app-table-prime-ng
    [dataSource]="this.dataSource"
    [columnSchema]="this.columnSchema"
    [actions]="this.actions"
    [initSortColumn]="initSortColumn"
    [directionSortColumn]="directionSortColumn"
    (onEvent)="this.onTableEvent($event)"
    [titleTable]="titleTable"
    [exportName]="exportName"
    [globalFilters]="globalFilters"
    [customSort]=true
  >
  </app-table-prime-ng>
</div>

<p-dialog header="Processi post concessione:" [(visible)]="showProcessiPostConcessioneDialog" (onHide)="closeProcessiPostConcessioneDialog()"
  styleClass="dialog-custom-950" [draggable]="false" [resizable]="false" [modal]="true">
<div class="p-grid p-nogutter p-ai-stretch vertical-container post-concessione-box">
  <div class="p-grid p-nogutter p-jc-center p-ai-center stretch">
    <div class="container-div p-d-flex p-jc-center p-mt-2">
      <div>
        <div class="p-mb-2 icon-div" (click)="prorogaConcessione(this.pratica)">
          <i class="pi pi-calendar-plus"></i>
        </div>
        <div class="p-mb-2 label-button-div">
          <label class="label-button">Proroga</label>
        </div>
      </div>

      <div>
        <div class="p-mb-2 icon-div" (click)="rinunciaConcessione(this.pratica)">
          <i class="pi pi-directions-alt"></i>
        </div>
        <div class="p-mb-2 label-button-div">
            <label class="label-button">Rinuncia</label>
        </div>
      </div>

      <div>
        <div class="p-mb-2 icon-div" (click)="apriDeterminaDialog(this.pratica, determinaRevocaDialog)">
          <i class="pi pi-ban"></i>
        </div>
        <div class="p-mb-2 label-button-div">
            <label class="label-button">Revoca</label>
        </div>
      </div>

      <div>
        <div class="p-mb-2 icon-div" (click)="apriDeterminaDialog(this.pratica, determinaDecadenzaDialog)">
          <i class="pi pi-minus-circle"></i>
        </div>
        <div class="p-mb-2 label-button-div">
            <label class="label-button">Decadenza</label>
        </div>
      </div>

      <div>
        <div class="p-mb-2 icon-div" (click)="apriDeterminaDialog(this.pratica, determinaAnnullamentoDialog)">
          <i class="pi pi-times"></i>
        </div>
        <div class="p-mb-2 label-button-div">
            <label class="label-button">Annullamento</label>
        </div>
      </div>

    </div>
  </div>
</div>
</p-dialog>

<p-dialog header="Carica determina e invia comunicazione al cittadino:" [(visible)]="showUploadDeterminaDialog" (onHide)="closeUploadDeterminaDialog()"
  styleClass="dialog-850" [draggable]="false" [resizable]="false" [modal]="true">
  <div class="p-grid p-m-2">
    <div class="p-col-12">
      <div class="p-field">
        <label class="p-text-bold">Note: *</label>
        <textarea pInputTextarea [rows]="3" type="textArea" pInputText [(ngModel)]="this.notePerCittadino" class="text-area-no-resize stretch"></textarea>
      </div>
      <div class="p-field">
        <label class="p-text-bold">Numero determina: *</label>
        <input type="text" pInputText [(ngModel)]="this.identificativoDetermina" class="stretch">
      </div>
      <div class="p-field">
        <label for="dataDetermina" class="p-text-bold">Data emissione: *</label><br>
        <p-calendar name='dataDetermina' dateFormat="dd/mm/yy" [yearNavigator]="true" [yearRange]="calculateYearRange()" [monthNavigator]="true"
            placeholder="dd/mm/yyyy" [(ngModel)]="dataDetermina" appendTo="body" icon="pi pi-calendar" [showIcon]="true" [maxDate]="limitData"
            inputId="dataDetermina" styleClass="data-calendar">
        </p-calendar>
      </div>
      <div class="p-field p-mt-4 p-mb-4">
        <label class="p-text-bold">Download template {{getDescrizioneTipoTemplate()}}</label>
        <button pButton icon="pi pi-download" class="btn-custom-style p-button-rounded p-ml-2" (click)="generaTemplateElaborato(this.tipoDetermina)"></button>
      </div>
      <div class="p-field">
        <label class="p-text-bold">Upload determina *</label>
        <app-upload-file
          [pratica]="this.pratica"
          [fileClearToggle]="showUploadDeterminaDialog"
          [mode]="uploadMode"
          [destinazioneAllegato]="destinazioneAllegato"
          [filtroStatoPratica]="filtroStatoPratica"
          [acceptedExtensions]="'.pdf,.p7m,.zip,.rar,.7z'"
          [filtroTipoProcesso]="idTipoProcesso()"
          (mandatoryDocuments)="onMandatoryDocuments($event)"
          (onDocUploaded)="onUploadedFile($event)"
          (fileInCheckout)="fileInCheckout($event)"
        >
        </app-upload-file>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="p-d-flex p-col-12 p-jc-end">
      <button pButton label="Annulla" class="btn-custom-style"
        (click)="closeUploadDeterminaDialog()"></button>
      <button pButton label="Conferma" class="btn-custom-style"
        (click)="confermaUploadDeterminaDialog()" [disabled]="isConfirmDisabled() || !dataDetermina || !notePerCittadino || this.isFileInCheckout"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Numero protocollo:" [(visible)]="showProtocolloDialog" (onHide)="closeProtocolloDialog()" styleClass="dialog-400" [draggable]="false" [resizable]="false" [modal]="true" [closable]="false">
  <div class="p-grid p-m-2"> 
      <div class="p-col-12">
          <input *ngIf="!isProtocollata" type="text" pInputText [(ngModel)]="this.numProtocollo" class="stretch" [readonly]="true">
          <input *ngIf="isProtocollata" type="text" pInputText [(ngModel)]="this.numProtocollo" class="stretch" [readonly]="true">
          <label *ngIf="isProtocollata" for="txtProtocollo" class="p-text-bold p-pt-2" style="display: block;">Protocollazione avvenuta con successo</label>
      </div>
  </div> 
  <p-footer>
      <div class="p-d-flex p-col-12 p-jc-end">
      <button *ngIf="this.numProtocollo == '--|--'" pButton label="Protocolla" class="btn-custom-style"
          (click)="confermaUploadDeterminaDialog()"></button> 
      <button pButton label="Chiudi" class="btn-custom-style" (click)="showProtocolloDialog = false"></button>
      </div>  
  </p-footer>
</p-dialog>
